<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Reset Password | DeepShield AI</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="login-container">

    <div class="login-card">

        <div class="login-header">

            <h1>DeepShield <span>AI</span></h1>

            <p>Reset Password</p>

        </div>

        <form id="resetForm">

            <div class="input-group">

                <label>New Password</label>

                <input
                    id="password"
                    type="password"
                    required>

            </div>

            <div class="input-group">

                <label>Confirm Password</label>

                <input
                    id="confirmPassword"
                    type="password"
                    required>

            </div>

            <button
                class="login-page-btn"
                type="submit">

                Update Password

            </button>

        </form>

    </div>

</div>

<script src="{{ url_for('static', filename='reset-password.js') }}"></script>

</body>

</html>